<div class="__blockquote" type="cite">

    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>From: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a
            href="mailto:info@wellness-cic.com" target="_blank">WorkWell @ CIC</a><br></span></div>

    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>Date: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif">July 1, 2020 at 11:19:29 AM EDT<br></span>
    </div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>To: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a
            href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a><br></span></div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>Subject: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><b>CIC July WorkWell Wellness Newsletter: Sun Safety, Start Up Spotlight, and Staying Cool</b><br></span>
    </div>
    <br>
    <div>
        <div bgcolor="#cbd6e2"
             style="color:rgb(35,73,109);font-family:Arial,sans-serif;font-size:15px;font-style:normal;font-variant-caps:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(203,214,226);text-decoration:none">
            <table role="presentation" cellpadding="0" cellspacing="0" width="100%" height="100%"
                   style="border-collapse:collapse;margin:0px;padding:0px;border-spacing:0px!important;min-width:320px!important;">
                <tbody>
                <tr>
                    <td valign="top"
                        style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:15px;color:rgb(35,73,109);word-break:break-word">
                        <div id="m_1965999132242679862hs_cos_wrapper_main"
                             style="color:inherit;font-size:inherit;line-height:inherit">
                            <div id="m_1965999132242679862builtin_section-1"
                                 style="padding-left:10px;padding-right:10px;padding-top:20px">
                                <div bgcolor="#ffffff"
                                     style="max-width:600px;width:600px;min-width:280px;margin-left:auto;margin-right:auto;border-collapse:collapse;border-spacing:0px;background-color:rgb(255,255,255)">
                                    <div id="m_1965999132242679862builtin_column_1-0"
                                         style="display:table-cell;vertical-align:top;max-width:600px!important;width:600px!important">
                                        <div id="m_1965999132242679862hs_cos_wrapper_builtin_module_1_0_0"
                                             style="color:inherit;font-size:inherit;line-height:inherit">
                                            <table role="presentation" width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse;border-spacing:0px!important">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top"
                                                        style="border-collapse:collapse;font-family:Arial,sans-serif;color:rgb(35,73,109);word-break:break-word;text-align:center;padding:10px 20px;font-size:0px">
                                                        <img alt="workwell"
                                                             src="https://ci6.googleusercontent.com/proxy/XlFFLdO_p6DU8dd9lM46yLK4fpMJRtaC-8imOROy1LNO1ZskUVVjOFoZMnwmbAxwhgi5V_w7li26VVosc1UaS2hu26IQ0mmE6wvoW2JYemX7dYQyy3CDEWvo9iHFKs5wpV2kdVnV2j-B4Q=s0-d-e1-ft#https://mail.cic.com/hs-fs/hubfs/workwell.png?width=1120&amp;upscale=true&amp;name=workwell.png"
                                                             width="560" align="middle"
                                                             style="outline:none;text-decoration:none;max-width:100%;font-size:16px"
                                                             class="CToWUd a6T" tabindex="0">
                                                        <div class="a6S" dir="ltr"
                                                             style="opacity: 0.01; left: 717.5px; top: 979px;">
                                                            <div id=":px" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                 role="button" tabindex="0"
                                                                 aria-label="Download attachment "
                                                                 data-tooltip-class="a1V" data-tooltip="Download">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="m_1965999132242679862section_1591634889383"
                                 style="padding-left:10px;padding-right:10px">
                                <div bgcolor="#ffffff"
                                     style="max-width:600px;width:600px;min-width:280px;margin-left:auto;margin-right:auto;border-collapse:collapse;border-spacing:0px;background-color:rgb(255,255,255)">
                                    <div id="m_1965999132242679862column_1591634889383_0"
                                         style="display:table-cell;vertical-align:top;max-width:300px!important;width:300px!important">
                                        <div id="m_1965999132242679862hs_cos_wrapper_module_15916348961221"
                                             style="color:inherit;font-size:inherit;line-height:inherit">
                                            <table role="presentation" width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse;border-spacing:0px!important">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top"
                                                        style="border-collapse:collapse;font-family:Arial,sans-serif;color:rgb(35,73,109);word-break:break-word;text-align:center;padding:10px 20px;font-size:0px">
                                                        <img alt="RDM lounge SP2018-CIC-21-LowRes-1-1"
                                                             src="https://ci6.googleusercontent.com/proxy/vmprsTVhXzA8WYeqEFVgzBTIhjB8l9w2RlJG0EfA5rJWVS0adkD-BrzpcbaIIWhcIDulpP0SO9ePVbnf7PG4WENPqUvtfWGz0MCuA9VPYfEtmgJmb358C1wR_Cl4XmISSCutsy3KqVD5HUPOH8Ff1aOVPnIfpfH8YmIfmcGE_NCGz_Ppd1-jFXXC_0slWC8dEEc4ExxD1NIppU5E1acVbuka_pFpQaPSC-M=s0-d-e1-ft#https://mail.cic.com/hs-fs/hubfs/RDM%20lounge%20SP2018-CIC-21-LowRes-1-1.jpeg?width=520&amp;upscale=true&amp;name=RDM%20lounge%20SP2018-CIC-21-LowRes-1-1.jpeg"
                                                             width="260" align="middle"
                                                             style="outline:none;text-decoration:none;max-width:100%;font-size:16px"
                                                             class="CToWUd a6T" tabindex="0">
                                                        <div class="a6S" dir="ltr"
                                                             style="opacity: 0.01; left: 417.5px; top: 1259px;">
                                                            <div id=":py" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                 role="button" tabindex="0"
                                                                 aria-label="Download attachment "
                                                                 data-tooltip-class="a1V" data-tooltip="Download">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="m_1965999132242679862hs_cos_wrapper_module_159257890982911"
                                             style="color:inherit;font-size:inherit;line-height:inherit">
                                            <table role="presentation" width="100%" cellpadding="0" cellspacing="0"
                                                   style="border-collapse:collapse;border-spacing:0px!important">
                                                <tbody>
                                                <tr>
                                                    <td align="center" valign="top"
                                                        style="border-collapse:collapse;font-family:Arial,sans-serif;color:rgb(35,73,109);word-break:break-word;text-align:center;padding:10px 20px;font-size:0px">
                                                        <img alt="CICatHome Thumbnail-10"
                                                             src="https://ci5.googleusercontent.com/proxy/lWqIx2CHQkPjKqbNsGEjMlVptSwtEXlt-k98RH4sNxPMe8hDmPGVZatj5s8KolBnic-CKG-SC87HHtm289-o8SGAAg6n0Z5YKg3Rzds1wE3YZlVMIMY2agqKMII6JLqH6edDOgcYQyfHsu5EGpfaxt7-Kjk9iEw5zsSQAU44_Or-Bxqvz40zGGEiasW5dojvNvRKNw=s0-d-e1-ft#https://mail.cic.com/hs-fs/hubfs/CICAtHome/CICatHome%20Thumbnail-10.jpg?width=520&amp;upscale=true&amp;name=CICatHome%20Thumbnail-10.jpg"
                                                             width="260" align="middle"
                                                             style="outline:none;text-decoration:none;max-width:100%;font-size:16px"
                                                             class="CToWUd a6T" tabindex="0">
                                                        <div class="a6S" dir="ltr" style="opacity: 0.01;">
                                                            <div id=":pz" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q"
                                                                 title="Download" role="button" tabindex="0"
                                                                 aria-label="Download attachment "
                                                                 data-tooltip-class="a1V">
                                                                <div class="aSK J-J5-Ji aYr"></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="m_1965999132242679862column_1591634889383_1"
                                         style="display:table-cell;vertical-align:top;max-width:300px!important;width:300px!important">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%"
                                               style="border-collapse:collapse;border-spacing:0px!important">
                                            <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:15px;color:rgb(35,73,109);word-break:break-word;padding:10px 20px">
                                                    <div id="m_1965999132242679862hs_cos_wrapper_module_15916349009372"
                                                         style="color:inherit;font-size:inherit;line-height:inherit">
                                                        <div id="m_1965999132242679862hs_cos_wrapper_module_15916349009372_"
                                                             style="color:inherit;font-size:inherit;line-height:inherit">
                                                            <h2 style="margin:0px;line-height:38.5px;font-size:22px">The
                                                                Future of Coworking and Flexible Offices</h2>
                                                            <div style="margin:0px;line-height:26.25px">COVID-19 has
                                                                dramatically changed how we think about the workspace.
                                                            </div>
                                                            <div style="margin:0px;line-height:26.25px">Previously the
                                                                setting where many of us spent most of our waking hours,
                                                                office spaces now sit empty as companies have
                                                                transitioned to virtual, work-from-home setups.&nbsp;
                                                            </div>
                                                            <div style="margin:0px;line-height:26.25px">Leaders are
                                                                trying to navigate this challenging period one day at a
                                                                time. But as we prepare for the future and the easing of
                                                                restrictions, we must think about<span>&nbsp;</span><a
                                                                        href="https://mail.wellness-cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBw3lGn5V1-WJV7CgDN6M6r6FR3jJ7VW9h-w9n1b-knsW4vk81V2w9z5mW7TFCrL21SdtzN4sxpBFhxrlMW2VQWVD8PPR7qW18V5JC6V2lxVMbsQQYPQKrYW4qk-bS2tX1p2W7Npcp48xWcPhN6wjH2pKkdpyW8n3RPg7WY242W8NWhdH6b5lnDW3j_1Fj5hfGV8W8FD5kC1NPxY4W49v-n93kQyR-W1J1rs96DRx-1N84pBgwgQ4htN7xcBNk4LFKPW4fF-mp77cNGKW5rrtRw63rMrHN33c6VdK3QSgN7gyNSWz7mDdW8P2rBH1X98jS3hhN1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBw3lGn5V1-WJV7CgDN6M6r6FR3jJ7VW9h-w9n1b-knsW4vk81V2w9z5mW7TFCrL21SdtzN4sxpBFhxrlMW2VQWVD8PPR7qW18V5JC6V2lxVMbsQQYPQKrYW4qk-bS2tX1p2W7Npcp48xWcPhN6wjH2pKkdpyW8n3RPg7WY242W8NWhdH6b5lnDW3j_1Fj5hfGV8W8FD5kC1NPxY4W49v-n93kQyR-W1J1rs96DRx-1N84pBgwgQ4htN7xcBNk4LFKPW4fF-mp77cNGKW5rrtRw63rMrHN33c6VdK3QSgN7gyNSWz7mDdW8P2rBH1X98jS3hhN1&amp;source=gmail&amp;ust=1594142660311000&amp;usg=AFQjCNG-DKAai3vSbq290kvgA5Oe-p903w">how
                                                                    and where we are going to work</a>.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="m_1965999132242679862section_1592945685170"
                                 style="padding-left:10px;padding-right:10px">
                                <div bgcolor="#ffffff"
                                     style="max-width:600px;width:600px;min-width:280px;margin-left:auto;margin-right:auto;border-collapse:collapse;border-spacing:0px;background-color:rgb(255,255,255)">
                                    <div id="m_1965999132242679862column_1592945685171_0"
                                         style="display:table-cell;vertical-align:top;max-width:600px!important;width:600px!important">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%"
                                               style="border-collapse:collapse;border-spacing:0px!important">
                                            <tbody>
                                            <tr>
                                                <td style="border-collapse:collapse;font-family:Arial,sans-serif;font-size:15px;color:rgb(35,73,109);word-break:break-word;padding:10px 20px">
                                                    <div id="m_1965999132242679862hs_cos_wrapper_module_15929456850801"
                                                         style="color:inherit;font-size:inherit;line-height:inherit">
                                                        <div id="m_1965999132242679862hs_cos_wrapper_module_15929456850801_"
                                                             style="color:inherit;font-size:inherit;line-height:inherit">
                                                            <h2 style="margin:0px;line-height:38.5px;font-size:22px">
                                                                July Wellness Events</h2>
                                                            <div style="margin:0px;line-height:26.25px">Every Friday -
                                                                12:00pm<a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBw3lGn5V1-WJV7CgFFmW4R9WwZ3l1dyWW4d8wDs113JvRW6xDDPp7NYgWRW2QJGwJ83MgGdW4nB0hl6hztbmVdqtsG8NmvYmW8X8QLT2FnhXZW3nWhkp2YhxH8W20djYp16X6KSW22yryv7LBL6gW3RdGBv7f31hWN71lHK7wZ1tFW6C8_5G1szsvHW3vq7hy2ll32YW404QWd47fbNjW59k3dY6T4lnfW2qFx-B6wW0K3W2lrdFz3Y7nthN3qBfnZ_1F8SW2bmmzZ14PK1vW12LH0L24_2rdW7Gvz8S1_BKQrW4j7-tN1_X0qnW1-fgn57hDrKD36Vh1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBw3lGn5V1-WJV7CgFFmW4R9WwZ3l1dyWW4d8wDs113JvRW6xDDPp7NYgWRW2QJGwJ83MgGdW4nB0hl6hztbmVdqtsG8NmvYmW8X8QLT2FnhXZW3nWhkp2YhxH8W20djYp16X6KSW22yryv7LBL6gW3RdGBv7f31hWN71lHK7wZ1tFW6C8_5G1szsvHW3vq7hy2ll32YW404QWd47fbNjW59k3dY6T4lnfW2qFx-B6wW0K3W2lrdFz3Y7nthN3qBfnZ_1F8SW2bmmzZ14PK1vW12LH0L24_2rdW7Gvz8S1_BKQrW4j7-tN1_X0qnW1-fgn57hDrKD36Vh1&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNF8skNUPrMJgKmHjyZYAUfosBJ-7g"><span>&nbsp;</span>Kitchen
                                                                    Creatives</a></div>
                                                            <div style="margin:0px;line-height:26.25px">Every Wednesday
                                                                - 1:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWCp3lGn_V1-WJV7CgYDlW7RTNKs76DNKcW1dNHq37VX8fzW3zkKxL2VrnM0W6W0fcX1Svj5DW8swYmh7pJfPZW5r2ycR4BqR2vW4gtmWq7nYRyZW5D80xj2FMLd2W75C-8M8_H6vYN4ftcxqTz0wwW8pkkSq1ZWd6QW7P9p4f1GPtXzW8bDGFX14X8_YW5m-_QB6SmgBvW1cN1pZ1gJGlFW1V5Bp54tl-yQV8_nqZ6RRC5DW89C6Nk1lxXQyN7qvb_wD-mBnW3cMsTL1-VWK4W2YDFNm1g-DLPVMDzCh8Q65WxW52WcQD1XytbSW4QXP1q66SbmcN4TX_mJw53CPW2w4LxP6GgCT8W7YxJ2n9fldp5W7ZNRZ963h6LYW51-BWz1st0T_W6Tcnr820ywXZ36D31"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWCp3lGn_V1-WJV7CgYDlW7RTNKs76DNKcW1dNHq37VX8fzW3zkKxL2VrnM0W6W0fcX1Svj5DW8swYmh7pJfPZW5r2ycR4BqR2vW4gtmWq7nYRyZW5D80xj2FMLd2W75C-8M8_H6vYN4ftcxqTz0wwW8pkkSq1ZWd6QW7P9p4f1GPtXzW8bDGFX14X8_YW5m-_QB6SmgBvW1cN1pZ1gJGlFW1V5Bp54tl-yQV8_nqZ6RRC5DW89C6Nk1lxXQyN7qvb_wD-mBnW3cMsTL1-VWK4W2YDFNm1g-DLPVMDzCh8Q65WxW52WcQD1XytbSW4QXP1q66SbmcN4TX_mJw53CPW2w4LxP6GgCT8W7YxJ2n9fldp5W7ZNRZ963h6LYW51-BWz1st0T_W6Tcnr820ywXZ36D31&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNEibzMcXjg5iDbgsnylr2Ce523Hbw">Innovation
                                                                    in Challenging Times</a></div>
                                                            <p style="margin:0px;line-height:26.25px">&nbsp;</p>
                                                            <div style="margin:0px;line-height:26.25px">July 7th -
                                                                7:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBc3lGmQV1-WJV7CgT-3W4k2VQ628x8mTW78wlh33wZGZlW7csRv-4j4K1nN7z6-Qf5LTxnW86fvCt5BjLSBV58GLG2Y0-MxN3YnPwtwH0z9W7kRrGR6PXGfsW1VPXB_579bgZW7TzQq51Gn4nyV7xHPq63F7nXW7chb0_3nNqS5N54C02631V4CW1FrlnQ5kvXtLW4l6ffv6b81g1W3gN1xM5xGs_1W7GSTcr4vvdczW1-XmHl64v5K8W1l6--b8bvq3XW45MnWs1FXNtJW1RpPF62nyBKGW1GRpHb2p706J3fcD1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBc3lGmQV1-WJV7CgT-3W4k2VQ628x8mTW78wlh33wZGZlW7csRv-4j4K1nN7z6-Qf5LTxnW86fvCt5BjLSBV58GLG2Y0-MxN3YnPwtwH0z9W7kRrGR6PXGfsW1VPXB_579bgZW7TzQq51Gn4nyV7xHPq63F7nXW7chb0_3nNqS5N54C02631V4CW1FrlnQ5kvXtLW4l6ffv6b81g1W3gN1xM5xGs_1W7GSTcr4vvdczW1-XmHl64v5K8W1l6--b8bvq3XW45MnWs1FXNtJW1RpPF62nyBKGW1GRpHb2p706J3fcD1&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNGEnofekfJwcJ5CWsCpLaEQngfmPA">Business
                                                                    and Mindset Hacks Founders Need To Thrive In Today's
                                                                    Market</a></div>
                                                            <div style="margin:0px;line-height:26.25px">July 13th -
                                                                12:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWC53lGnJV1-WJV7CgHcFW4-Ytlp47Jf-rN615LSBKg37nW5r7fW32lNZCxW19nVpY1vk0ZgV29r9q8sFVSJW5cy2S42PP1tyN510zrJ5lfcMW6QWDz94M7zQzW1TVY2W18-j0VW2XVh6B6bDPs4N8rFhrtjnshkN4GBh951zqfFW8bFrmQ4WJk_WW33N7pz8-14KqW5n_GHq7ZW_TVW6DGkS67qZLbCW7g4skY1G3NgJW8tDYG17TTXzYW979tc169MW83W8BHyH-4kvBJqW8hQ-W_55KZZVW7Y7wGV56bK1jN74LB--nF_LxN8Jrm1wwJyxCW35vfKk3kx9k2W4mblqv8tCD42W7PC60814zhWYW72kJR26m5fpD33CM1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWC53lGnJV1-WJV7CgHcFW4-Ytlp47Jf-rN615LSBKg37nW5r7fW32lNZCxW19nVpY1vk0ZgV29r9q8sFVSJW5cy2S42PP1tyN510zrJ5lfcMW6QWDz94M7zQzW1TVY2W18-j0VW2XVh6B6bDPs4N8rFhrtjnshkN4GBh951zqfFW8bFrmQ4WJk_WW33N7pz8-14KqW5n_GHq7ZW_TVW6DGkS67qZLbCW7g4skY1G3NgJW8tDYG17TTXzYW979tc169MW83W8BHyH-4kvBJqW8hQ-W_55KZZVW7Y7wGV56bK1jN74LB--nF_LxN8Jrm1wwJyxCW35vfKk3kx9k2W4mblqv8tCD42W7PC60814zhWYW72kJR26m5fpD33CM1&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNG1ag69c8uNkjjlSlVQRytJqOS3PQ">Mindful
                                                                    Morning: A Short Introduction To Mindfulness</a>
                                                            </div>
                                                            <div style="margin:0px;line-height:26.25px">July 14th -
                                                                1:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWzX3lGmwV1-WJV7CgZMjW6Dd8gG4tSZNSW57VVSq40HBg_Vh8S4N9fT6DRN2sz7Gjbv8JVW17N-Dw586RmXW2hQ4mp7_Zwx8N6l-8jtSgsTjN7xcMtHWQ2bCW1jxPWL5MW4SyW8cqglL8WQzX7W5h9pf_6zZg7VW604x6D2yFN4rW9cdnNF6F2JGfW8wHXzq6QF5ZDW5Kr9T57_TXQqVdBtXb17YY-4W66_RB76Lsf9kW6M5rh_7W3kZKW5k0S8170WC1VW2t34Lb6rldKv3p1r1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWzX3lGmwV1-WJV7CgZMjW6Dd8gG4tSZNSW57VVSq40HBg_Vh8S4N9fT6DRN2sz7Gjbv8JVW17N-Dw586RmXW2hQ4mp7_Zwx8N6l-8jtSgsTjN7xcMtHWQ2bCW1jxPWL5MW4SyW8cqglL8WQzX7W5h9pf_6zZg7VW604x6D2yFN4rW9cdnNF6F2JGfW8wHXzq6QF5ZDW5Kr9T57_TXQqVdBtXb17YY-4W66_RB76Lsf9kW6M5rh_7W3kZKW5k0S8170WC1VW2t34Lb6rldKv3p1r1&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNHVsGc2bYzTwcqi_8MCc6X3dUWTxw">Distress
                                                                    Tolerance &amp; Progressive Muscle Relaxation</a>
                                                            </div>
                                                            <div style="margin:0px;line-height:26.25px">July 14th -
                                                                6:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBQ3lGnpV1-WJV7CgZbTW3t8YTS1lYy0FW8mFvKD6ykG4TW1MM3q-7M2jssV_8c7j5pTXCyW18htQF6xCVfgW7cxQKx22mSnLW8_18dd7ns7f0VVrYwt6Kjgv-W6zp-YX2f6swvW4cNG_W436FM8W7b0nDh58JZHjW5TL9-b4GGqR5W2Wrxgs2KRMGhTytXd4H8RPdMPxBZf79MKdN8GR1FFzdr0pW850sN26Mc9wZW3l4QHP26-6y7W3gFWzh7NyvJVW63Fk_36g1QStW86GM6v2bNtMYW3h_rLq3BvLzdW1Mf5RS6z9Xc-N4cLZqMPNhKmW6hFTK58msdVDW8jpPRW3Th5qK3f1m1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWBQ3lGnpV1-WJV7CgZbTW3t8YTS1lYy0FW8mFvKD6ykG4TW1MM3q-7M2jssV_8c7j5pTXCyW18htQF6xCVfgW7cxQKx22mSnLW8_18dd7ns7f0VVrYwt6Kjgv-W6zp-YX2f6swvW4cNG_W436FM8W7b0nDh58JZHjW5TL9-b4GGqR5W2Wrxgs2KRMGhTytXd4H8RPdMPxBZf79MKdN8GR1FFzdr0pW850sN26Mc9wZW3l4QHP26-6y7W3gFWzh7NyvJVW63Fk_36g1QStW86GM6v2bNtMYW3h_rLq3BvLzdW1Mf5RS6z9Xc-N4cLZqMPNhKmW6hFTK58msdVDW8jpPRW3Th5qK3f1m1&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNEjrHVdeie8gOonrRNUdxsdLQ1VPQ">Relationships
                                                                    &amp; Money: How To Do It Right</a></div>
                                                            <div style="margin:0px;line-height:26.25px">July 21st -
                                                                12:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWC53lGnJV1-WJV7CgNfgW4NXglT8qcSlXW8f2RfB1CQSlDN6K70CxKpScNW7CZlXW69y9q6VqD-8r22c_C1W29vtSC6qy67mN7pZMK4r9yjSW2pRmT77QRZVLW3FMmQN26ZjklW1fFMlL2ZxNbMW2js28L5ZX6fDN21CwD2sDFRmV-6cyX2Rpj4dW7rh6C26kKJ2ZW8fDNq398j5MJW3XCK6Y42MJ8CW2KwMCq3bm8_DW5b7s4p4D96PhW57sMcG9608ppW6dMyC34SBNTpVtvR3l1drytpF4nkdJ0_X2YW6lGp5r7hwGwrW354frV6Dr3FRW6mWn8G7_vyj8W7DLmQM2RP6hqW1ft1Nm2NKRj9W7H5Sbx44ZF-b38pD1"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWC53lGnJV1-WJV7CgNfgW4NXglT8qcSlXW8f2RfB1CQSlDN6K70CxKpScNW7CZlXW69y9q6VqD-8r22c_C1W29vtSC6qy67mN7pZMK4r9yjSW2pRmT77QRZVLW3FMmQN26ZjklW1fFMlL2ZxNbMW2js28L5ZX6fDN21CwD2sDFRmV-6cyX2Rpj4dW7rh6C26kKJ2ZW8fDNq398j5MJW3XCK6Y42MJ8CW2KwMCq3bm8_DW5b7s4p4D96PhW57sMcG9608ppW6dMyC34SBNTpVtvR3l1drytpF4nkdJ0_X2YW6lGp5r7hwGwrW354frV6Dr3FRW6mWn8G7_vyj8W7DLmQM2RP6hqW1ft1Nm2NKRj9W7H5Sbx44ZF-b38pD1&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNGNeGyadE6Nevh0UzSBTTNzkoREKg">Think
                                                                    For Yourself: In Conversation With Vikram
                                                                    Mansharamani</a></div>
                                                            <div style="margin:0px;line-height:26.25px">July 30th -
                                                                7:00pm<span>&nbsp;</span><a
                                                                        href="https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWC53lGnJV1-WJV7CgCbJW7bQylN1jhlvzW1Jw2xd5lLpqyN2F_C0k6_gLcW18Y2y15wZMH7W471WY12xZsGVVcc7km6V-3cfW7lr53X8Z4sG6W42K9FV3mkjkRW64L_KJ8YyHj1W7t62wC1gy2LtW1DB8LL6K8rpyW82Dbg47xPwbhW7C7FZJ7Dy6LhW4SCHPY2VVMQfW72vfrK1kvs8_W21-mx297Y5VwW85qTCp3tPVzbW7q8SgG88H5kvW35c42565Y4q9W85MXQz3Ts6BjW4MMsKd7cpZ_BW4M-ZYl3nFC2rW3jCPQ19fSnVtN83MV4hZnltgW34jWsK4JdR7JW56tgh821HSVcW8fbT291kJwpmW4HSyxF4q1_Wj3bs91"
                                                                        rel=" noopener"
                                                                        style="text-decoration:underline;color:rgb(0,164,189)"
                                                                        target="_blank"
                                                                        data-saferedirecturl="https://www.google.com/url?q=https://mail.cic.com/e2t/tc/VWhMrd16MvdkVg-fkt6vZJzwW7CpFKy4b_nYNN8fXWC53lGnJV1-WJV7CgCbJW7bQylN1jhlvzW1Jw2xd5lLpqyN2F_C0k6_gLcW18Y2y15wZMH7W471WY12xZsGVVcc7km6V-3cfW7lr53X8Z4sG6W42K9FV3mkjkRW64L_KJ8YyHj1W7t62wC1gy2LtW1DB8LL6K8rpyW82Dbg47xPwbhW7C7FZJ7Dy6LhW4SCHPY2VVMQfW72vfrK1kvs8_W21-mx297Y5VwW85qTCp3tPVzbW7q8SgG88H5kvW35c42565Y4q9W85MXQz3Ts6BjW4MMsKd7cpZ_BW4M-ZYl3nFC2rW3jCPQ19fSnVtN83MV4hZnltgW34jWsK4JdR7JW56tgh821HSVcW8fbT291kJwpmW4HSyxF4q1_Wj3bs91&amp;source=gmail&amp;ust=1594142660313000&amp;usg=AFQjCNFYLeWJMS0aLQb8ykGBsh0b3dZ-gQ">Tech
                                                                    and Brews: Breweries Making An Impact In Tech</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>