<div class="__blockquote" type="cite">
    <div dir="ltr"><b>From:</b> <a href="mailto:timothywells@ibm.com"
                                   target="_blank">Timothy Wells</a><br><b>Date:</b> July 2, 2020 at 11:27:05 AM
        EDT<br><b>To:</b> <a href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a><br><b>Subject:</b> <b>Invitation:
            Potential Business Opportunity @ Thu Jul 9, 2020 10am - 11am (EDT) (<a href="mailto:tommyjones@me.com"
                                                                                   target="_blank">tommyjones@me.com</a>)</b></div>
</div>
<div class="__blockquote" type="cite">
    <div dir="ltr">﻿<span><span style="display:none"></span><span><div><table cellspacing="0" cellpadding="8" border="0"
                                                                              summary=""
                                                                              style="width:100%;font-family:Arial,Sans-serif;border:1px Solid #ccc;border-width:1px 2px 2px 1px;background-color:#fff"><tbody><tr><td><h4
            style="padding:6px 0;margin:0 0 4px 0;font-family:Arial,Sans-serif;font-size:13px;line-height:1.4;border:1px Solid #fff;background:#fff;color:#090;font-weight:normal"><strong>You have been invited to the following event.</strong></h4><div
            style="padding:2px"><span></span><h3
            style="padding:0 0 6px 0;margin:0;font-family:Arial,Sans-serif;font-size:16px;font-weight:bold;color:#222"><span>Potential Business Opportunity</span></h3><table
            style="display:inline-table" cellpadding="0" cellspacing="0" border="0" summary="Event details"><tbody><tr><td
            style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap;width:90px"
            valign="top"><div><i style="font-style:normal">When</i></div></td><td
            style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top"><div><time
            datetime="20200709T140000Z"></time><time
            datetime="20200709T150000Z"></time>Thu Jul 9, 2020 10am – 11am <span style="color:#888">Eastern Time - New York</span></div></td></tr><tr><td
            style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap;width:90px"
            valign="top"><div><i style="font-style:normal">Where</i></div></td><td
            style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top"><div><span><span
            class="notranslate"><a href="https://us02web.zoom.us/j/89580853079?pwd=dzFMVUhYbFhodlJhMU5LMmxKZHpRUT09"
                                   target="_blank"
                                   data-saferedirecturl="https://www.google.com/url?q=https://us02web.zoom.us/j/89580853079?pwd%3DdzFMVUhYbFhodlJhMU5LMmxKZHpRUT09&amp;source=gmail&amp;ust=1594142660349000&amp;usg=AFQjCNGlLbIXfcZ-9EIu6QpVleeHuJEWtw">https://us02web.zoom.us/j/<wbr>89580853079?pwd=<wbr>dzFMVUhYbFhodlJhMU5LMmxKZHpRUT<wbr>09</a></span><span
            dir="ltr"> (<a
            href="https://www.google.com/url?q=https%3A%2F%2Fus02web.zoom.us%2Fj%2F89580853079%3Fpwd%3DdzFMVUhYbFhodlJhMU5LMmxKZHpRUT09&amp;sa=D&amp;ust=1594135621329000&amp;usg=AOvVaw01XsEDFKanL2pVBF9fcDn1"
            style="color:#20c;white-space:nowrap" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/url?q%3Dhttps%253A%252F%252Fus02web.zoom.us%252Fj%252F89580853079%253Fpwd%253DdzFMVUhYbFhodlJhMU5LMmxKZHpRUT09%26sa%3DD%26ust%3D1594135621329000%26usg%3DAOvVaw01XsEDFKanL2pVBF9fcDn1&amp;source=gmail&amp;ust=1594142660349000&amp;usg=AFQjCNFVMtIQayfGGVzkrDsd5Zl6xlnquA">map</a>)</span></span></div></td></tr><tr><td
            style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap;width:90px"
            valign="top"><div><i style="font-style:normal">Calendar</i></div></td><td
            style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top"><div><a
            href="mailto:timothywells@ibm.com" target="_blank">timothywells@ibm.com</a></div></td></tr><tr><td
            style="padding:0 1em 10px 0;font-family:Arial,Sans-serif;font-size:13px;color:#888;white-space:nowrap;width:90px"
            valign="top"><div><i style="font-style:normal">Who</i></div></td><td
            style="padding-bottom:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222" valign="top"><table
            cellspacing="0" cellpadding="0"><tbody><tr><td
            style="padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222;width:10px"><div><span
            style="font-family:Courier New,monospace">•</span></div></td><td
            style="padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222"><div><div><div
            style="margin:0 0 0.3em 0"><span><span class="notranslate"><a href="mailto:timothywells@ibm.com"
                                                                          target="_blank">timothywells@ibm.com</a></span></span><span></span><span
            style="font-size:11px;color:#888"> - organizer</span></div></div></div></td></tr><tr><td
            style="padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222;width:10px"><div><span
            style="font-family:Courier New,monospace">•</span></div></td><td
            style="padding-right:10px;font-family:Arial,Sans-serif;font-size:13px;color:#222"><div><div><div
            style="margin:0 0 0.3em 0"><span><span class="notranslate"><a href="mailto:tommyjones@me.com" target="_blank">tommyjones@me.com</a></span></span></div></div></div></td></tr></tbody></table></td></tr></tbody></table><div
            style="float:right;font-weight:bold;font-size:13px"> <a
            href="https://www.google.com/calendar/event?action=VIEW&amp;eid=a2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ&amp;tok=MTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ&amp;ctz=America%2FNew_York&amp;hl=en&amp;es=0"
            style="color:#20c;white-space:nowrap" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/event?action%3DVIEW%26eid%3Da2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ%26tok%3DMTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ%26ctz%3DAmerica%252FNew_York%26hl%3Den%26es%3D0&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNEu1K_EVK6tQ0ksX8fBitLiDvlN0A">more details »</a><br></div><div
            style="padding-bottom:15px;font-family:Arial,Sans-serif;font-size:13px;color:#222;white-space:pre-wrap!important;white-space:-moz-pre-wrap!important;white-space:-pre-wrap!important;white-space:-o-pre-wrap!important;white-space:pre-wrap;word-wrap:break-word"><span>Timothy Wells is inviting you to a scheduled Zoom meeting.<p>Join Zoom Meeting<br><a
            href="https://www.google.com/url?q=https%3A%2F%2Fus02web.zoom.us%2Fj%2F89580853079%3Fpwd%3DdzFMVUhYbFhodlJhMU5LMmxKZHpRUT09&amp;sa=D&amp;ust=1594135621328000&amp;usg=AOvVaw1q2vkKhWF757jncquJsQ3D"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/url?q%3Dhttps%253A%252F%252Fus02web.zoom.us%252Fj%252F89580853079%253Fpwd%253DdzFMVUhYbFhodlJhMU5LMmxKZHpRUT09%26sa%3DD%26ust%3D1594135621328000%26usg%3DAOvVaw1q2vkKhWF757jncquJsQ3D&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNFlDV-ociHfeNZTWui-Cfxo63vbzw">https://us02web.zoom.us/j/<wbr>89580853079?pwd=<wbr>dzFMVUhYbFhodlJhMU5LMmxKZHpRUT<wbr>09</a></p><p>Meeting ID: 895 8085 3079<br>Password: 573015<br>One tap mobile<br>+13126266799,,89580853079# US (Chicago)<br>+19292056099,,89580853079# US (New York)</p><p>Dial by your location<br>        +1 312 626 6799 US (Chicago)<br>        +1 929 205 6099 US (New York)<br>        +1 301 715 8592 US (Germantown)<br>        +1 346 248 7799 US (Houston)<br>        +1 669 900 6833 US (San Jose)<br>        +1 253 215 8782 US (Tacoma)<br>Meeting ID: 895 8085 3079<br>Find your local number: <a
            href="https://www.google.com/url?q=https%3A%2F%2Fus02web.zoom.us%2Fu%2FkejhmkdoGz&amp;sa=D&amp;ust=1594135621329000&amp;usg=AOvVaw1WOMwrOTp9cVUHS6nhFwH6"
            target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/url?q%3Dhttps%253A%252F%252Fus02web.zoom.us%252Fu%252FkejhmkdoGz%26sa%3DD%26ust%3D1594135621329000%26usg%3DAOvVaw1WOMwrOTp9cVUHS6nhFwH6&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNEuHj8HQT8b-SzCg-a2CvaVah_i7w">https://us02web.zoom.us/u/<wbr>kejhmkdoGz</a><br></p></span></div></div><div
            style="color:rgb(34,34,34);font-size:13px;margin:0px"><span style="color:#888">Going (<a
            href="mailto:tommyjones@me.com" target="_blank">tommyjones@me.com</a>)?&nbsp;&nbsp;&nbsp;</span><strong><span><span><a
            href="https://www.google.com/calendar/event?action=RESPOND&amp;eid=a2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ&amp;rst=1&amp;tok=MTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ&amp;ctz=America%2FNew_York&amp;hl=en&amp;es=0"
            style="color:#20c;white-space:nowrap" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/event?action%3DRESPOND%26eid%3Da2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ%26rst%3D1%26tok%3DMTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ%26ctz%3DAmerica%252FNew_York%26hl%3Den%26es%3D0&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNFNJRj5caSsvACnR38xXORBCXc7-Q">Yes</a></span></span><span
            style="margin:0 0.4em;font-weight:normal"> - </span><span><span><a
            href="https://www.google.com/calendar/event?action=RESPOND&amp;eid=a2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ&amp;rst=3&amp;tok=MTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ&amp;ctz=America%2FNew_York&amp;hl=en&amp;es=0"
            style="color:#20c;white-space:nowrap" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/event?action%3DRESPOND%26eid%3Da2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ%26rst%3D3%26tok%3DMTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ%26ctz%3DAmerica%252FNew_York%26hl%3Den%26es%3D0&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNFtApy_mEqdSuAQX5hF-sNn-YxayA">Maybe</a></span></span><span
            style="margin:0 0.4em;font-weight:normal"> - </span><span><span><a
            href="https://www.google.com/calendar/event?action=RESPOND&amp;eid=a2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ&amp;rst=2&amp;tok=MTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ&amp;ctz=America%2FNew_York&amp;hl=en&amp;es=0"
            style="color:#20c;white-space:nowrap" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/event?action%3DRESPOND%26eid%3Da2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ%26rst%3D2%26tok%3DMTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ%26ctz%3DAmerica%252FNew_York%26hl%3Den%26es%3D0&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNHr0HSCorRTRgNi799t503ewwQv_A">No</a></span></span></strong>&nbsp;&nbsp;&nbsp;&nbsp;<a
            href="https://www.google.com/calendar/event?action=VIEW&amp;eid=a2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ&amp;tok=MTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ&amp;ctz=America%2FNew_York&amp;hl=en&amp;es=0"
            style="color:#20c;white-space:nowrap" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/event?action%3DVIEW%26eid%3Da2t2bjMzYzEybmtxZ2xlMGZ0cDFzc2E0djAgYWRiYXJyQG1lLmNvbQ%26tok%3DMTkjYWFyb25AcGlpcW1lZGlhLmNvbWIwMzQ0YjgyODBkMjRhMTFhYzRlNzRjNzk0YmRhNzdmYTMwY2E3NmQ%26ctz%3DAmerica%252FNew_York%26hl%3Den%26es%3D0&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNEu1K_EVK6tQ0ksX8fBitLiDvlN0A">more options »</a></div></td></tr><tr><td
            style="background-color:#f6f6f6;color:#888;border-top:1px Solid #ccc;font-family:Arial,Sans-serif;font-size:11px"><p>Invitation from <a
            href="https://www.google.com/calendar/" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNHck1YJYL2TrEpNlTiEAxmx_3lOOA">Google Calendar</a></p><p>You are receiving this courtesy email at the account <a
            href="mailto:tommyjones@me.com" target="_blank">tommyjones@me.com</a> because you are an attendee of this event.</p><p>To stop receiving future updates for this event, decline this event. Alternatively you can sign up for a Google account at <a
            href="https://www.google.com/calendar/" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://www.google.com/calendar/&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNHck1YJYL2TrEpNlTiEAxmx_3lOOA">https://www.google.com/<wbr>calendar/</a> and control your notification settings for your entire calendar.</p><p>Forwarding this invitation could allow any recipient to send a response to the organizer and be added to the guest list, or invite others regardless of their own invitation status, or to modify your RSVP. <a
            href="https://support.google.com/calendar/answer/37135#forwarding" target="_blank"
            data-saferedirecturl="https://www.google.com/url?q=https://support.google.com/calendar/answer/37135%23forwarding&amp;source=gmail&amp;ust=1594142660350000&amp;usg=AFQjCNGVNMCEV8f_JgooNp2Ox32aZuew5w">Learn More</a>.</p></td></tr></tbody></table></div></span></span>
    </div>
</div>