<div class="__blockquote" type="cite"
     style="font-family:&quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,&quot;Lucida Sans&quot;,Verdana,Tahoma,sans-serif;font-size:13px;font-style:normal;font-variant-caps:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(228,228,228);text-decoration:none">
    <div dir="ltr"><b>From:</b><span>&nbsp;</span><a href="mailto:noreply@mojang.com" target="_blank">Mojang</a><br><b>Date:</b><span>&nbsp;</span>July
        2, 2020 at 9:02:05 AM EDT<br><b>To:</b><span>&nbsp;</span><a href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a>
        <br><b>Subject:</b><span>&nbsp;</span><b>Requested password
            reset</b><br><br></div>
</div>
<div class="__blockquote" type="cite"
     style="font-family:&quot;Lucida Grande&quot;,&quot;Lucida Sans Unicode&quot;,&quot;Lucida Sans&quot;,Verdana,Tahoma,sans-serif;font-size:13px;font-style:normal;font-variant-caps:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;background-color:rgb(228,228,228);text-decoration:none">
    <div dir="ltr">﻿
        <div id="m_6891951481467557093content"
             style="color:rgb(34,34,34);border:1px solid rgb(221,221,221);background-color:rgb(255,255,255);padding:20px 26px">
            <p style="margin:30px 0px"><img
                    src="https://ci6.googleusercontent.com/proxy/iw0Pip0PoVKKBQFRbmXWlVq6QWyrKXcGEYnWZLCD3bGqTHOgKOzzH-ba4si7DmbNVzdqGuaIEwnTWkU=s0-d-e1-ft#http://assets.mojang.com/mojang_logo.png"
                    class="CToWUd"></p>
            <p style="margin:30px 0px;font-weight:bold">Hello!</p>
            <p style="margin:30px 0px">To reset your Mojang Studios account password click on the following link. Please
                note that reset link will expire in 48 hours. If you didn't issue a password reset you can safely ignore
                this email.</p>
            <p style="margin:30px 0px"><a
                    href="https://my.minecraft.net/password/reset/9a7f5fb02a7e4ff198ed75b765a16809" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://my.minecraft.net/password/reset/9a7f5fb02a7e4ff198ed75b765a16809&amp;source=gmail&amp;ust=1594142660366000&amp;usg=AFQjCNE6RcwnIz9-Cu2WrkJzcbi1GlSu1g">https://my.minecraft.net/
                <wbr>
                password/reset/
                <wbr>
                9a7f5fb02a7e4ff198ed75b765a168
                <wbr>
                09</a></p>
            <p style="margin:30px 0px">Have a nice day,<br>Mojang Studios.</p></div>
        <p style="font-size:10px">This email was sent by a user triggered event and thus can't really be unsubscribed
            from.<br>If you keep getting these messages and don't want to, please contact<span>&nbsp;</span><a
                    href="https://help.minecraft.net/" target="_blank"
                    data-saferedirecturl="https://www.google.com/url?q=https://help.minecraft.net/&amp;source=gmail&amp;ust=1594142660366000&amp;usg=AFQjCNE305erYEQCUp7EX7d3p2XpO4p-jA">customer
                support</a>.</p></div>
</div>