<div class="__blockquote" type="cite">
    <div dir="ltr"><b>From:</b> <a href="mailto:NationalGridOnlineServices@bill-nationalgrid.com"
                                                     target="_blank">National Grid</a><br><b>Date:</b> July 2, 2020 at 12:08:35 AM EDT<br><b>To:</b> <a
            href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a><br><b>Subject:</b> <b>Your gas bill is ready
        to view</b></div>
</div>
<div class="__blockquote" type="cite">
    <div dir="ltr">﻿


        <div style="letter-spacing:580px;line-height:0"><span>&nbsp;</span></div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0"
               style="height:1px;line-height:1px;display:block;float:none;clear:both;border-collapse:collapse"
               role="presentation">
            <tbody>
            <tr>
                <td>
                    <img src="https://ci6.googleusercontent.com/proxy/HHpI-KDYvXbpntK2NcU4Pt86OxokRXLNINMIucrw4LfHVfuacA_MEXFuPXJFI_xskaNog7qgVFcTX25q2mT4iYijZ5BvJRNPdwyBtRCgjHYOzb91_QHSZtD0tOTeoq8ruU32FrKmPCY_tj5gxBak8qylTgo=s0-d-e1-ft#https://secure3.striata.com/w/i?271842522-716-CPBOpen_5ABAMCDL_BOST_5252610540_004_arasita@me.com"
                         border="0" height="1" width="1" alt="" class="CToWUd">

                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" border="0" role="presentation">
            <tbody>
            <tr>
                <td width="10" style="width:10px">
                </td>
                <td align="center" bgcolor="#ffffff">
                    <table width="648" cellpadding="0" cellspacing="0" border="0" role="presentation">
                        <tbody>
                        <tr>
                            <td width="100%" height="30" align="left">
                                <table align="left" width="100%" cellpadding="0" cellspacing="0" border="0"
                                       role="presentation">
                                    <tbody>
                                    <tr>
                                        <td width="400" align="left" style="font-size:10px">
                                            <font size="1"
                                                  face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial,sans-serif"
                                                  color="#53565a"
                                                  style="font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-size:10px;color:#53565a">You
                                                may pay directly through the PDF attachment</font>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="648" align="left" bgcolor="#ffffff">

                                <table align="left" width="648" cellpadding="0" cellspacing="0" border="0"
                                       role="presentation">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="https://secure3.striata.com/w/c?271842522-716-CPBLogo_C2ZQF4O5_BOST_5252610540_004_tommyjones@me.com"
                                               target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?q=https://secure3.striata.com/w/c?271842522-716-CPBLogo_C2ZQF4O5_BOST_5252610540_004_arasita@me.com&amp;source=gmail&amp;ust=1594142656143000&amp;usg=AFQjCNHXuL28r8ezEmBSR-pxd7yT95Y7Fg">
                                                <img src="https://ci4.googleusercontent.com/proxy/LQYWkaSEbli8afqdZpplPBduLcatdunHviAMyjIKQQtrToCLn4W-rbDmYyzhUf1d1AGkmjS7o-sE7UcH-fwCRPmIZx9Y2ZGJn0ZsK8OtkWUlfX4jF1iimrvLLwWldvGF5lnc2EA5vWjtsg5Q=s0-d-e1-ft#https://www.nationalgridus.com/assets/images/striata/css_cris_paperlessbanner_striata.png"
                                                     width="648" height="261"
                                                     alt="National Grid - Your bill is attached"
                                                     style="width:648px;display:block;border:0" class="CToWUd">
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td width="648" align="left" bgcolor="#ffffff">

                                <table align="left" width="648" cellpadding="0" cellspacing="0" border="0"
                                       style="width:648px" role="presentation">
                                    <tbody>
                                    <tr>
                                        <td valign="top">
                                            <table width="648" cellpadding="0" cellspacing="0" border="0"
                                                   style="width:648px" role="presentation">

                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <table width="648" border="0" cellspacing="0" cellpadding="0"
                                                               style="width:648px" role="presentation">
                                                            <tbody>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="36" style="height:36px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>

                                                           
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="22" style="height:22px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>


                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                    <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                          color="#53565a" size="2"
                                                                          style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                        Dear Tommy Jones,
                                                                    </font>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="22" style="height:22px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                    <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                          color="#53565a" size="2"
                                                                          style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                        Your bill is attached, giving you all the
                                                                        details of your gas usage.


                                                                        You can also easily and conveniently pay using
                                                                        the attached form.


                                                                    </font>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="22" style="height:22px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td>
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <th style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;text-align:left">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;text-align:left">
                                                                                    <b>Bill Amount:</b>
                                                                                </font>
                                                                            </th>
                                                                            <td width="18" style="width:18px">
                                                                            </td>
                                                                            <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#00148c" size="2"
                                                                                      style="color:#00148c;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                                    <b>$572.76</b>
                                                                                </font>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                            </td>
                                                                            <td height="8" style="height:8px">
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;text-align:left">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;text-align:left">
                                                                                    <b>Due Date:</b>
                                                                                </font>
                                                                            </th>
                                                                            <td width="18" style="width:18px">
                                                                            </td>
                                                                            <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#00148c" size="2"
                                                                                      style="color:#00148c;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                                    <b>7/13/2020</b>
                                                                                </font>
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>
                                                                            </td>
                                                                            <td height="8" style="height:8px">
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;text-align:left">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;text-align:left">
                                                                                    <b>Billing Period:</b>
                                                                                </font>
                                                                            </th>
                                                                            <td width="18" style="width:18px">
                                                                            </td>
                                                                            <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#00148c" size="2"
                                                                                      style="color:#00148c;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                                    <b>05/28/2020 - 06/29/2020</b>
                                                                                </font>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        <table width="648" border="0" cellspacing="0" cellpadding="0"
                                                               style="width:648px" role="presentation">
                                                            <tbody>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="22" style="height:22px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td style="padding-bottom:4px;font-size:20px;line-height:26px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                    <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                          color="#00148c" size="2"
                                                                          style="font-size:20px;line-height:26px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                        <b>How to view and pay your bill</b>
                                                                    </font>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                    <table width="100%" align="center" cellpadding="0"
                                                                           cellspacing="0" border="0"
                                                                           role="presentation">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td width="28" style="width:28px">
                                                                            </td>
                                                                            <td align="left" valign="top" width="24"
                                                                                style="width:24x;color:#0072ce;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">1.</font>
                                                                            </td>
                                                                            <td align="left" valign="top"
                                                                                style="color:#0072ce;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                    Download the attached PDF
                                                                                </font>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="28" style="width:28px">
                                                                            </td>
                                                                            <td align="left" valign="top" width="24"
                                                                                style="width:24x;color:#0072ce;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:bold;vertical-align:top">2.</font>
                                                                            </td>
                                                                            <td align="left" valign="top"
                                                                                style="color:#0072ce;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:bold;vertical-align:top">
                                                                                    <b>Enter your five-digit service
                                                                                        address ZIP code</b>
                                                                                </font>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td width="28" style="width:28px">
                                                                            </td>
                                                                            <td align="left" valign="top" width="24"
                                                                                style="width:24x;color:#0072ce;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">3.</font>
                                                                            </td>
                                                                            <td align="left" valign="top"
                                                                                style="color:#0072ce;font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                                      color="#53565a" size="2"
                                                                                      style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal;vertical-align:top">
                                                                                    Make a payment from the document
                                                                                </font>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="22" style="height:22px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td>
                                                        <table width="648" border="0" cellspacing="0" cellpadding="0"
                                                               style="width:648px" role="presentation">
                                                            <tbody>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                    <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                          color="#53565a" size="2"
                                                                          style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                        We appreciate your business.
                                                                    </font>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td height="22" style="height:22px">
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                                <td style="font-size:20px;line-height:26px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                    <font face="'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, sans-serif; "
                                                                          color="#00148c" size="2"
                                                                          style="font-size:16px;line-height:22px;font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,sans-serif;font-weight:normal">
                                                                        <b>National Grid</b>
                                                                        <br/>
                                                                        <br/>
                                                                        <a href="https://uploads-ssl.webflow.com/5e7921763e7cb011d79e4eeb/5f0765ea97b23c56d2475de7_PaperlessBill.pdf" download="PaperlessBill.pdf" target="_blank"><img src="https://uploads-ssl.webflow.com/5e7921763e7cb011d79e4eeb/5f0766865d69bd194a1494d3_icons8-pdf-40.png"/></a>
                                                                    </font>
                                                                </td>
                                                                <td width="27" style="width:27px">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="27" style="width:27px"></td>
                                                                <td height="22" style="height:22px"></td>
                                                                <td width="27" style="width:27px"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>




                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        </tbody>
                    </table>
                </td>
                <td width="10" style="width:10px">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="yj6qo"></div>
        <div class="adL">



        </div>
    </div>
</div>