<div class="__blockquote" style="font-family: Arial; font-size: 10pt;" type="cite">
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>From: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a href="mailto:support@twitter.com">Twitter Team</a><br></span></div>

    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>Date: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif">May 31, 2020 at 10:00:24 AM EDT<br></span>
    </div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>To: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a
            href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a><br></span></div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>Subject: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><b>CASE #82700415: Account Review for Violation of Terms</b><br></span>
    </div>
    <br>
    <div style="margin: 30px auto 30px auto; width: 80px;">
        <img
            src="https://ci3.googleusercontent.com/proxy/iN3k0ZioCk2xgkiOAklhQuRzOIm0f8AUFtLt9RS98-9NcfPVeGhBW2WyxnUFoFmHnhbVHMPxVhIHhcIsDnHPQ7Gbjnwfh6V2yeUOUkfI7KKmClNs7bL5S0_34um3ivFX7A=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/Twitter_logo_180-1468901451975.png"
            style="height: 60px; width: 72px;"
        >
    </div>
    <div>
        Hello Tommy Jones,<br/><br/>

        Your account, tommyjones has been suspended for violating the <a href="https://twitter.com/en/tos&sa=D&ust=1594230254694000&usg=AOvVaw1eJ4S-9J-eYpq8nB4D4sXZ">Twitter Rules</a>.<br/><br/>

Specifically, for:<br/><br/>

Violating our rules against abusive behavior.  You may not engage in the targeted harassment of someone or incite other people to do so.  We consider abusive behavior an attempt to harass, intimidate, or silence someone else’s voice.
As a result, we are temporarily suspending your account as a warning.  If you’d like your account to be restored, please respond to this notice with confirmation that you understand Twitter’s community and terms of service policies.
<br/><br/>
Please be aware that any additional notices against your account may immediately result in permanent suspension.  In order to avoid this, do not post additional material in violation of our community and terms of service policies.
<br/><br/>
        Please note you have the right to appeal this decision.  In order to expedite this process please follow the instructions for appeal in the following link <a href="https://www.twitter.com/DMCA-appeal/@tommyjones">here</a>.
<br/><br/>
Thank you for your cooperation.
<br/><br/>
        <span style="color: #0070c0; font-size: 10pt; font-family: Arial; font-weight: 700;">TWITTER</span>

    </div>
</div>