<div class="__blockquote" type="cite">
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>From: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a href="mailto:verify@servicecenter-twitter.com">Twitter</a><br></span></div>

    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>Date: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif">July 9, 2020 at 11:51:33 AM EDT<br></span>
    </div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>To: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a
            href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a><br></span></div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,&quot;Helvetica Neue&quot;,Helvetica,sans-serif"><b>Subject: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><b>New login to Twitter from Safari on iPhone</b><br></span>
    </div>
    <br>
    <div>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#F5F8FA"
               style="font-family:Helvetica;font-style:normal;font-variant-caps:normal;font-weight:normal;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;text-decoration:none;padding:0px;margin:0px;line-height:1px;font-size:1px">
            <tbody>
            <tr>
                <td align="center" style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                    <table id="m_3620366902429191529header" align="center" width="448" bgcolor="#ffffff" cellpadding="0"
                           cellspacing="0" border="0"
                           style="width:448px;padding:0px;margin:0px;line-height:1px;font-size:1px">
                        <tbody>
                        <tr>
                            <td style="min-width:448px;padding:0px;margin:0px;line-height:1px;font-size:1px"><img
                                    src="https://ci4.googleusercontent.com/proxy/olz0jOQiwOKs810-_40TL7hjkyoDHhAfffrsDfXjBi0eH9ZPtuN9ozbJ4qp_3K3T216fZnFIGE-W22oQ9ZkivsZ3VC01TZckhPfMCfFHO9lUw_hkgTJi=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/spacer-1402696023930.png"
                                    style="min-width:448px;height:1px;margin:0px;padding:0px;display:block;border:none;outline:none"
                                    class="CToWUd"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                    <table id="m_3620366902429191529header" align="center" width="448" bgcolor="#ffffff" cellpadding="0"
                           cellspacing="0" border="0"
                           style="width:448px;background-color:rgb(255,255,255);padding:0px;margin:0px;line-height:1px;font-size:1px">
                        <tbody>
                        <tr>
                            <td colspan="3" height="24"
                                style="height:24px;padding:0px;margin:0px;line-height:1px;font-size:1px">&nbsp;<span>&nbsp;</span>
                            </td>
                        </tr>
                        <tr align="right">
                            <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                            <td align="right" style="padding:0px;margin:0px;line-height:1px;font-size:1px"><a
                                    style="text-decoration:none;border:0px;padding:0px;margin:0px"><img width="32"
                                                                                                        align="right"
                                                                                                        src="https://ci3.googleusercontent.com/proxy/iN3k0ZioCk2xgkiOAklhQuRzOIm0f8AUFtLt9RS98-9NcfPVeGhBW2WyxnUFoFmHnhbVHMPxVhIHhcIsDnHPQ7Gbjnwfh6V2yeUOUkfI7KKmClNs7bL5S0_34um3ivFX7A=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/Twitter_logo_180-1468901451975.png"
                                                                                                        style="width:32px;margin:0px;padding:0px;display:block;border:none;outline:none"
                                                                                                        class="CToWUd"></a>
                            </td>
                            <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        <tr>
                            <td colspan="4" height="24"
                                style="height:24px;padding:0px;margin:0px;line-height:1px;font-size:1px"><img width="1"
                                                                                                              height="1"
                                                                                                              src="https://ci6.googleusercontent.com/proxy/WHyRdgWUiohjab1-sI3kHTBr0mMyil6wagumsh7u6uzBCyY0fr2m3gS6b102j38RCyh5yg_KGrW85GlmLLNQahUyN4FKT8LoihX79FMq_Gzlpf-CuBJN7eynDFIKPhUs7kiIJRG4oUjMWinBBAxaq2OHAHXqyXmDP_N_Can3rPmxzWKD6BCR-3d20peE4lAM9e83VDHeCXby_abklZaECW2Ruw=s0-d-e1-ft#https://twitter.com/scribe/ibis?t=1&amp;cn=bG9naW5fbm90aWZpY2F0aW9uX2VtYWls&amp;iid=b4be80116f244c198eec760d12c561a1&amp;uid=1039634801454718976&amp;nid=296+20"
                                                                                                              style="margin:0px;padding:0px;display:block;border:none;outline:none"
                                                                                                              class="CToWUd">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="m_3620366902429191529header" align="center" width="448" bgcolor="#ffffff" cellpadding="0"
                           cellspacing="0" border="0"
                           style="width:448px;background-color:rgb(255,255,255);padding:0px;margin:0px;line-height:1px;font-size:1px">
                        <tbody>
                        <tr align="left;">
                            <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                            <td align="left;" style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                <table cellpadding="0" cellspacing="0" border="0"
                                       style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                    <tbody>
                                    <tr>
                                        <td align="left;"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:24px;line-height:32px;font-weight:bold;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            We noticed a login to your account<span>&nbsp;</span><a
                                                href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2Ftommyjones&amp;t=1&amp;cn=bG9naW5fbm90aWZpY2F0aW9uX2VtYWls&amp;sig=01bc8c9b3d48513e2c6113bae8edd09375451b5f&amp;iid=b4be80116f244c198eec760d12c561a1&amp;uid=1039634801454718976&amp;nid=296+1"
                                                style="border:0px;padding:0px;margin:0px;color:rgb(41,47,51);text-decoration:none"
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/i/redirect?url%3Dhttps%253A%252F%252Ftwitter.com%252Fpiiqmedia%26t%3D1%26cn%3DbG9naW5fbm90aWZpY2F0aW9uX2VtYWls%26sig%3D01bc8c9b3d48513e2c6113bae8edd09375451b5f%26iid%3Db4be80116f244c198eec760d12c561a1%26uid%3D1039634801454718976%26nid%3D296%2B1&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNG6X2ArDuB-ngO1HhfeiEPR3Sa2Cg">@tommyjones</a><span>&nbsp;</span>from
                                            a new device. Was this you?<span>&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td height="24"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left;"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            <strong>New login</strong></td>
                                    </tr>
                                    <tr>
                                        <td height="6"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                            <table width="100%" align="center" cellspacing="0" border="0"
                                                   style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                                <tbody>
                                                <tr>
                                                    <td width="30"
                                                        style="width:30px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                                    <td align="center"
                                                        style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                                        <table width="100%" align="center" cellpadding="0"
                                                               cellspacing="0" border="0"
                                                               style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                                            <tbody>
                                                            <tr>
                                                                <td align="left" width="25%"
                                                                    style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                                                    <strong>Location*</strong></td>
                                                                <td width="15"
                                                                    style="width:15px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                                                <td align="left"
                                                                    style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                                                    New York, NY<span>&nbsp;</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" width="25%"
                                                                    style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                                                    <strong>Device</strong></td>
                                                                <td width="15"
                                                                    style="width:15px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                                                <td align="left"
                                                                    style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                                                    Safari on iPhone<span>&nbsp;</span></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="14"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;font-weight:400;color:rgb(136,153,166);text-align:left;text-decoration:none">
                                            *Location is approximate based on the login's IP address.<span>&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="24"
                                            style="height:24px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            <strong>If this was you</strong></td>
                                    </tr>
                                    <tr>
                                        <td height="6"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            You can ignore this message. There's no need to take any
                                            action.<span>&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td height="24"
                                            style="height:24px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left;"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:16px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            <strong>If this wasn’t you</strong></td>
                                    </tr>
                                    <tr>
                                        <td height="6"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left;"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            Complete these steps now to protect your account.<span>&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td height="6"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    <tr>
                                        <td align="left;"
                                            style="padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;font-weight:400;color:rgb(41,47,51);text-align:left;text-decoration:none">
                                            <ul>
                                                <li align="left" dir="ltr"><a
                                                        href="https://servicecenter-twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2Faccount%2Fconfirm_email_reset%3Freset_type%3De%26amp%3Bpassword_reset_cause%3Dlogin_notification%26amp%3Buser_id%3D1039634801454718976%26amp%3Btoken%3DNutkoCOZIoX5H0YEzVIrEx%2521tzTqzbVtQ5%2521ngGtSTHKY%253D-1593705093758%26amp%3Btoken_version%3D0%26amp%3Bconfirm_pending_email%3D0&amp;t=1&amp;cn=bG9naW5fbm90aWZpY2F0aW9uX2VtYWls&amp;sig=34cd0b498b0f2872a8558155b0b86ece6f791f91&amp;iid=b4be80116f244c198eec760d12c561a1&amp;uid=1039634801454718976&amp;nid=296+4"
                                                        style="padding:0px;margin:0px;border:none;text-decoration:none;font-weight:400;color:rgb(29,161,242)"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/i/redirect?url%3Dhttps%253A%252F%252Ftwitter.com%252Faccount%252Fconfirm_email_reset%253Freset_type%253De%2526amp%253Bpassword_reset_cause%253Dlogin_notification%2526amp%253Buser_id%253D1039634801454718976%2526amp%253Btoken%253DNutkoCOZIoX5H0YEzVIrEx%252521tzTqzbVtQ5%252521ngGtSTHKY%25253D-1593705093758%2526amp%253Btoken_version%253D0%2526amp%253Bconfirm_pending_email%253D0%26t%3D1%26cn%3DbG9naW5fbm90aWZpY2F0aW9uX2VtYWls%26sig%3D34cd0b498b0f2872a8558155b0b86ece6f791f91%26iid%3Db4be80116f244c198eec760d12c561a1%26uid%3D1039634801454718976%26nid%3D296%2B4&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNHqZtI5v2ZcVYPJqN7m0X2wg-FObw">Change
                                                    your password.</a><span>&nbsp;</span>You'll be logged out of all
                                                    your active Twitter sessions except the one you're using at this
                                                    time.<span>&nbsp;</span></li>
                                                <li align="left" dir="ltr" style="padding:8px 0px 0px"><a
                                                        href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2Fsettings%2Fapplications&amp;t=1&amp;cn=bG9naW5fbm90aWZpY2F0aW9uX2VtYWls&amp;sig=63ad08ece82e023b593620046a9e83bb3101950f&amp;iid=b4be80116f244c198eec760d12c561a1&amp;uid=1039634801454718976&amp;nid=296+3"
                                                        style="padding:0px;margin:0px;border:none;text-decoration:none;font-weight:400;color:rgb(29,161,242)"
                                                        target="_blank"
                                                        data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/i/redirect?url%3Dhttps%253A%252F%252Ftwitter.com%252Fsettings%252Fapplications%26t%3D1%26cn%3DbG9naW5fbm90aWZpY2F0aW9uX2VtYWls%26sig%3D63ad08ece82e023b593620046a9e83bb3101950f%26iid%3Db4be80116f244c198eec760d12c561a1%26uid%3D1039634801454718976%26nid%3D296%2B3&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNHuVe-ikKEiURd63Cpyalwj-AbMhw">Review
                                                    the apps</a><span>&nbsp;</span>that have access to your account and
                                                    revoke access to any unfamiliar apps.<span>&nbsp;</span><a
                                                            href="https://help.twitter.com/managing-your-account/connect-or-revoke-access-to-third-party-apps"
                                                            style="padding:0px;margin:0px;border:none;text-decoration:none;font-weight:400;color:rgb(29,161,242)"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://help.twitter.com/managing-your-account/connect-or-revoke-access-to-third-party-apps&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNF7pHs7P746xCLbmzp_RVycopwgjg">Learn
                                                        more</a>.
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="36"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        <tr>
                            <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                            <td style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0"
                                       style="padding:0px;margin:0px;line-height:1px;font-size:1px;border:1px solid rgb(170,184,194);border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px">
                                    <tbody>
                                    <tr>
                                        <td height="24" colspan="3"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px">&nbsp;<span>&nbsp;</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                            &nbsp;<span>&nbsp;</span></td>
                                        <td align="left" style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                   style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                                <tbody>
                                                <tr>
                                                    <td style="padding:0px;margin:0px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:16px;line-height:22px;text-align:left;color:rgb(41,47,51)">
                                                        <strong>How do I know an email is from Twitter?</strong></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" height="12"
                                                        style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0px;margin:0px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:14px;line-height:19px;font-weight:400;text-align:left;color:rgb(41,47,51)">
                                                        Links in this email will start with “<span><a
                                                            style="border:0px;padding:0px;margin:0px;color:rgb(41,47,51);text-decoration:none">https://</a></span>”
                                                        and contain “<span><a
                                                            href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2F%3Frefsrc%3Demail&amp;t=1&amp;cn=bG9naW5fbm90aWZpY2F0aW9uX2VtYWls&amp;sig=d6c8cd9324272941b9081f5a0d7f4a323404a66f&amp;iid=b4be80116f244c198eec760d12c561a1&amp;uid=1039634801454718976&amp;nid=296+2"
                                                            style="border:0px;padding:0px;margin:0px;color:rgb(41,47,51);text-decoration:none"
                                                            target="_blank"
                                                            data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/i/redirect?url%3Dhttps%253A%252F%252Ftwitter.com%252F%253Frefsrc%253Demail%26t%3D1%26cn%3DbG9naW5fbm90aWZpY2F0aW9uX2VtYWls%26sig%3Dd6c8cd9324272941b9081f5a0d7f4a323404a66f%26iid%3Db4be80116f244c198eec760d12c561a1%26uid%3D1039634801454718976%26nid%3D296%2B2&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNHSEYzFS9dpPAGQdq2-exxtdILv6A">twitter.com</a></span>.”
                                                        Your browser will also display a padlock icon to let you know a
                                                        site is secure.<span>&nbsp;</span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px">
                                            &nbsp;<span>&nbsp;</span></td>
                                    </tr>
                                    <tr>
                                        <td height="24" colspan="3"
                                            style="padding:0px;margin:0px;line-height:1px;font-size:1px">&nbsp;<span>&nbsp;</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="24" style="padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table id="m_3620366902429191529footer" align="center" width="448" cellpadding="0" cellspacing="0"
                           border="0"
                           style="width:448px;background-color:rgb(255,255,255);padding:0px;margin:0px;line-height:1px;font-size:1px">
                        <tbody>
                        <tr>
                            <td height="36"
                                style="height:36px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        <tr>
                            <td align="center" style="padding:0px;margin:0px;line-height:1px;font-size:1px"><span
                                    style="font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;font-weight:400;color:rgb(136,153,166);text-align:left;text-decoration:none"><a
                                    href="https://support.twitter.com/articles/76036"
                                    style="border:0px;padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;font-weight:600;color:rgb(29,161,242);text-align:left;text-decoration:none"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://support.twitter.com/articles/76036&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNHjtFQ-97Tjxb-hMTQtuonrLUQ2kw">Help</a><span>&nbsp;</span>&nbsp;|&nbsp;<span>&nbsp;</span><a
                                    href="https://twitter.com/i/redirect?url=https%3A%2F%2Fsupport.twitter.com%2Farticles%2F204820-fake-twitter-emails&amp;t=1&amp;cn=bG9naW5fbm90aWZpY2F0aW9uX2VtYWls&amp;sig=f9ba82eb4ad48ef99c1464917f86bd9bd2f33eff&amp;iid=b4be80116f244c198eec760d12c561a1&amp;uid=1039634801454718976&amp;nid=296+6"
                                    style="border:0px;padding:0px;margin:0px;font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;font-weight:600;color:rgb(29,161,242);text-align:left;text-decoration:none"
                                    target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/i/redirect?url%3Dhttps%253A%252F%252Fsupport.twitter.com%252Farticles%252F204820-fake-twitter-emails%26t%3D1%26cn%3DbG9naW5fbm90aWZpY2F0aW9uX2VtYWls%26sig%3Df9ba82eb4ad48ef99c1464917f86bd9bd2f33eff%26iid%3Db4be80116f244c198eec760d12c561a1%26uid%3D1039634801454718976%26nid%3D296%2B6&amp;source=gmail&amp;ust=1594142660339000&amp;usg=AFQjCNFs_S7IvNVz0Y2uMk8J0-Xta172Cw">Email security tips</a></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="12"
                                style="height:12px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        <tr>
                            <td align="center" style="padding:0px;margin:0px;line-height:1px;font-size:1px"><span
                                    style="font-family:HelveticaNeue,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;font-weight:400;color:rgb(136,153,166);text-align:left;text-decoration:none">We sent this email to @piiqmedia<span>&nbsp;</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="6" style="height:6px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        <tr>
                            <td align="center" style="padding:0px;margin:0px;line-height:1px;font-size:1px"><span
                                    style="font-family:&quot;Helvetica Neue Light&quot;,Helvetica,Arial,sans-serif;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:16px;color:rgb(136,153,166);text-decoration:none">Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103<span>&nbsp;</span></span>
                            </td>
                        </tr>
                        <tr>
                            <td height="72"
                                style="height:72px;padding:0px;margin:0px;line-height:1px;font-size:1px"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>