<div class="__blockquote" type="cite">
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif;color:rgba(0,0,0,1.0)"><b>From: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a
            href="mailto:no-reply@zoom.us" target="_blank">Zoom</a><br></span></div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif;color:rgba(0,0,0,1.0)"><b>Subject: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><b>Your meeting attendees are waiting!</b><br></span>
    </div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif;color:rgba(0,0,0,1.0)"><b>Date: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif">July 2, 2020 at 10:02:10 AM EDT<br></span>
    </div>
    <div style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px"><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif;color:rgba(0,0,0,1.0)"><b>To: </b></span><span
            style="font-family:-webkit-system-font,Helvetica Neue,Helvetica,sans-serif"><a
            href="mailto:tommyjones@me.com" target="_blank">Tommy Jones</a><br></span></div>
    <br>
    <div>
        <div>Hi there, <br>Please click this URL to start your Zoom meeting: Sales Call, <a
                href="https://us02web.zoom.us/j/934562867?pwd=a0JsZjJRYm5TS2dOVyszaEtrZ2YxUT09" target="_blank"
                data-saferedirecturl="https://www.google.com/url?q=https://us02web.zoom.us/j/934562867?pwd%3Da0JsZjJRYm5TS2dOVyszaEtrZ2YxUT09&amp;source=gmail&amp;ust=1594142660359000&amp;usg=AFQjCNEjP5fozhv3r26PIyhfrLsXe17wjA">https://us02web.zoom.us/j/
            <wbr>
            934562867?pwd=
            <wbr>
            a0JsZjJRYm5TS2dOVyszaEtrZ2YxUT
            <wbr>
            09</a> as your participant user is waiting.
            <div class="yj6qo"></div>
            <div class="adL"><br></div>
        </div>
    </div>
</div>